<div class="container">

  <div class="signin">
    <img src="/assets/images/logo.jpg" class="signinlogo" /><br><br>
    <form #f="ngForm">
      <div style="padding:10px">
        <input type="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" name="email" required email
          placeholder="Email" required email style="width:100%">
        <div *ngIf="email.dirty&&email.invalid" style="color:red">
          <span *ngIf="email.errors.required">Email is Required</span>
          <span *ngIf="email.errors.email">Email is Invalid</span>
        </div><br>
        <input type="password" class="form-control" type="password" #password="ngModel" [(ngModel)]="user.password"
          name="password" required placeholder="Password" style="width:100%">
        <div *ngIf="password.dirty&&password.invalid" style="color:red">
          <span *ngIf="password.errors.required">Password is Required.</span>
        </div>
        <br>
      </div>
      <button class="btn btn-default" (click)="login()" [disabled]="!f.valid">Sign In</button>
    </form>
    <li><a class="signup-anchor" routerLink="/signup">Signup</a> for new members</li><br>
    <li><a class="signup-anchor-facebook" href="#">Facebook</a></li>
    <li><a class="signup-anchor-google" href="#">Google</a></li><br><br>
  </div>



</div>
