
<section>
  <!-- InstanceBeginEditable name="Content" -->

  <!-- About-Tabs -->
  <div class="about" style="margin-top: 0;">

    <div class="about-index">
      <h1>Welcome to Beauty Soul, Islamabad, Pakistan</h1>
      <p>Whether you want a new look for that special occasion or you are ready for a complete rejuvenation, BeautySoul
        presents simply the best services of beauty salon in Islamabad & Rawalpindi. </p>
      <p>We have been providing salon services. During this journey, we worked with almost all kind of skins, hair and
        nails. This wide extent of period gave us
        more experience and skill. We are the best at what we do. Our customers rave about our hair cuts, hair styling,
        facials, nail services and our experienced specialists
        can boost your inner beauty. Fashions and styles come and go. We intend to be here through them all, giving you
        the warm, personal attention you deserve. </p>
      <p>Make an appointment today at our beauty salon located in Rawalpindi &amp; Islamabad, and see what we can do for
        you.</p>
      <br>

      <h3>Following are the key segments of our salon services</h3>

      <div class="container">
        <div class="tabs tabs-style-iconfall">
          <nav>
            <ul>
              <li><a href="Dulhan-Makeup.html"><span>Bridal Makeup</span></a></li>
              <li><a href="Gallary.html"><span>Hair Extensions</span></a></li>
              <li><a href="Hair-Styling.html"><span>Hair Styles</span></a></li>
              <li><a href="Party-Makeup.html"><span>Party Makeup</span></a></li>
            </ul>
          </nav>

        </div>
      </div>
    </div>

  </div>
  <!-- //About-Tabs -->

  <!-- Good-Things -->
  <div class="good">
    <h2>What does clients say about our salon</h2>
    <div class="container">
      <div class="col-md-4 col-sm-4 good-thing1">
        <div class="good-image">
          <img src="/assets/images/good-11.png" alt="">
        </div>
        <div class="good-h3">
          <h3>Sadaf Zarrar</h3>
        </div>
        <div class="good-p">
          <p>Every time i visit BeautySoul Salon in Islamabad i know i will leave feeling beautiful and looking
            beautiful. Thank you for the great services from the makeup to the hair styling. Every time excellent
            result...</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4 col-sm-4 good-thing2">
        <div class="good-image">
          <img src="/assets/images/good-11.png" alt="">
        </div>
        <div class="good-h3">
          <h3>Farah Hussain</h3>
        </div>
        <div class="good-p">
          <p>One of the best salon in Islamabad, Pakistan, awesome staff and amazing beauty services. I got my makeover
            done on many occasions from BeautySoul. Highly satisfied and recommended salon to all.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4 col-sm-4 good-thing3">
        <div class="good-image">
          <img src="/assets/images/good-11.png" alt="">
        </div>
        <div class="good-h3">
          <h3>Mishi Khan</h3>
        </div>
        <div class="good-p">
          <p>BeautySoul is the best salon in Islamabad. The makeup is simply awesome, They have too good and there
            techniques are fabulous. BeautySoul stay blessed and keeps going....</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- //Good-Things -->

  <!-- Stats -->

  <!-- //Stats -->

  <!-- Skills -->

  <!-- //Skills -->

  <!-- Portfolio -->
  <div class="portfolio">
    <h3>Key Services</h3>

    <div class="container">
      <div class="grid">
        <figure class="effect-julia col-md-4 col-sm-4">
          <img src="/assets/images/hair-salon-pic2.jpg" alt="" />
          <figcaption>
            <h4><span>Hair </span> Extensions</h4>
            <div class="figcaption-info">
              <p>Book your hair extensions appointment with BeautySoul on 0300-1234567 or email us at
                info@beautysoul.com</p>

            </div>
            <a href="Gallary.html">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-julia col-md-4 col-sm-4">
          <img src="/assets/images/services-8.jpg" alt="" />
          <figcaption>
            <h4><span>Mehndi </span> Design</h4>
            <div class="figcaption-info">
              <p>Book your mehndi design appointment with BeautySoul on 0300-1234567 or email us at info@beautysoul.com
              </p>

            </div>
            <a href="Mehndi-Artist.html">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-julia col-md-4 col-sm-4">
          <img src="/assets/images/party-makeup-images.jpg" alt="Excel Industries" />
          <figcaption>
            <h4><span>Makeup </span></h4>
            <div class="figcaption-info">
              <p>Book your make-up appointment with BeautySoul on 0300-1234567 or email us at info@beautysoul.com</p>

            </div>
            <a href="Dulhan-Makeup.html">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-julia col-md-4 col-sm-4">
          <img src="/assets/images/services-11.jpg" alt="Excel Industries" />
          <figcaption>
            <h4><span>Skin </span> Treatment</h4>
            <div class="figcaption-info">
              <p>Book your skin treatment appointment with BeautySoul on 0300-1234567 or email us at info@beautysoul.com
              </p>

            </div>
            <a href="Skin-Care.html">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-julia col-md-4 col-sm-4">
          <img src="/assets/images/services-6.jpg" alt="Excel Industries" />
          <figcaption>
            <h4><span>Hair </span> Styling</h4>
            <div class="figcaption-info">
              <p>Book your hair cut appointment with BeautySoul on 0300-1234567 or email us at info@beautysoul.com</p>

            </div>
            <a href="Hair-Styling.html">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-julia col-md-4 col-sm-4">
          <img src="/assets/images/services-1.jpg" alt="Excel Industries" />
          <figcaption>
            <h4><span>Nail </span>Art</h4>
            <div class="figcaption-info">
              <p>Book your nail art appointment with BeautySoul on 0300-1234567 or email us at info@beautysoul.com</p>

            </div>
            <a href="nail-saloon.html">View more</a>
          </figcaption>
        </figure>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>

  <!-- //Portfolio -->


  <!-- InstanceEndEditable -->
</section>