<!-- Products -->
<div class="gallery">

  <!-- Tools-&-Parts -->
  <div class="gallery-grids tool-parts">

    <div class="container">

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-1.jpg" class="swipebox">
            <img src="/assets/images/g-1.jpg" alt="royli-makeup-images" class="img-responsive" />
            <figcaption>
              
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-2.jpg" class="swipebox">
            <img src="/assets/images/g-2.jpg" alt="royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-3.jpg" class="swipebox">
            <img src="/assets/images/g-3.jpg" alt="royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-4.jpg" class="swipebox">
            <img src="/assets/images/g-4.jpg" alt="royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-5.jpg" class="swipebox">
            <img src="/assets/images/g-5.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-6.jpg" class="swipebox">
            <img src="/assets/images/g-6.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-7.jpg" class="swipebox">
            <img src="/assets/images/g-7.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-8.jpg" class="swipebox">
            <img src="/assets/images/g-8.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>

            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-9.jpg" class="swipebox">
            <img src="/assets/images/g-9.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-10.jpg" class="swipebox">
            <img src="/assets/images/g-10.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-11.jpg" class="swipebox">
            <img src="/assets/images/g-11.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-12.jpg" class="swipebox">
            <img src="/assets/images/g-12.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-13.jpg" class="swipebox">
            <img src="/assets/images/g-13.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-14.jpg" class="swipebox">
            <img src="/assets/images/g-14.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-15.jpg" class="swipebox">
            <img src="/assets/images/g-15.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-16.jpg" class="swipebox">
            <img src="/assets/images/g-16.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-17.jpg" class="swipebox">
            <img src="/assets/images/g-17.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-18.jpg" class="swipebox">
            <img src="/assets/images/g-18.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-19.jpg" class="swipebox">
            <img src="/assets/images/g-19.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-20.jpg" class="swipebox">
            <img src="/assets/images/g-20.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-21.jpg" class="swipebox">
            <img src="/assets/images/g-21.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-22.jpg" class="swipebox">
            <img src="/assets/images/g-22.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-23.jpg" class="swipebox">
            <img src="/assets/images/g-23.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-24.jpg" class="swipebox">
            <img src="/assets/images/g-24.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-25.jpg" class="swipebox">
            <img src="/assets/images/g-25.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-26.jpg" class="swipebox">
            <img src="/assets/images/g-26.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4 tools-part">
        <figure class="effect-steve">
          <a href="images/g-27.jpg" class="swipebox">
            <img src="/assets/images/g-27.jpg" alt=" royli-makeup-images" class="img-responsive" />
            <figcaption>
              
            </figcaption>
          </a>
        </figure>
      </div>


      <div class="clearfix"></div>

    </div>

  </div>
  <!-- //Tools-&-Parts -->

</div>
<!-- //Products -->