
	<!-- Inner-Page-Content -->
  <div class="inner-page">
    <h1>CONTACT</h1>
  </div>
  <!-- //Inner-Page-Content -->
<!-- Contact -->
  <div class="contact">
    <div class="container">
      

        <form id="cReviewFrom" class="contact_form" >
          <table style="vertical-align:baseline;width:70%;height:20%;">
            <tbody><tr>
              <td style="vertical-align:baseline; margin-top: 10%">Name *:</td>
              <td><input type="text" required="" style="border: 1px solid #A8A4A4; border-radius: 0px 0px 0px 0px; background: #FBEEC1; width: 100%" name="Name"></td>
            </tr>
       
             <tr>
              <td style="vertical-align:baseline; margin-top: 10%">Email *:</td>
              <td><input type="text" required="" style="border: 1px solid #A8A4A4; border-radius: 0px 0px 0px 0px; background: #FBEEC1; width: 100%" name="Email"></td>
            </tr>
            <tr>
              <td style="vertical-align:baseline; margin-top: 10%">Phone *:</td>
              <td><input type="text" required="" style="border: 1px solid #A8A4A4; border-radius: 0px 0px 0px 0px; background: #FBEEC1; width: 100%" name="CNumber"></td>
            </tr>
       
            <tr style="vertical-align: top; margin-top: 10%">
              <td style="vertical-align:baseline;">Message:*: </td>
              <td><textarea required cols="25" rows="5" name="Message" style="border: 1px solid #A8A4A4; border-radius: 0px 0px 0px 0px; background: #FBEEC1; width: 100%" style=""></textarea></td>
            </tr>
        
            <tr>
              <td></td>
              <td><input type="submit" value="Send Message" name="submit" id="btnSubmit"></td>
            </tr>
           </tbody></table>
          </form>
      
    </div>
  </div>
  <!-- //Contact -->