<div class="inner-page">
  <h1>Best Beauty Parlour in Islamabad & Rawalpindi</h1>
</div>
<!-- //Inner-Page-Content -->

<!-- About-Us -->
<div class="about-us">
  <div class="container">
    <div class="col-md-6 col-sm-6 about-us-image">
      <img src="/assets/images/beauty-parlour1.jpg" alt="Excel Industries">
    </div>
    <div class="col-md-6 col-sm-6 about-us-info">
      <div class="about-us-info-text">
        <h2>Best Beauty Parlour</h2>
        <p>Beautysoul beauty parlour is located at Islamabad and &nbsp;in Rawalpindi, Pakistan. Whether you want a new look for that special occasion or you are 
          ready for a complete rejuvenation, Beautysoul present the best services of beauty parlour in Islamabad and Rawalpindi, Pakistan. We have been providing every kind of parlor services. During this journey, we worked with almost all kind of skins, hair and nails. 
          This wide extent of period gave us more experience and skill. We are the best at what we do. Our customers rave about our hair cuts, <a href="Hair-Styling.html"> hair styling</a>, facials, <a href="nail-saloon.html">nail services</a> and our experienced parlour specialists can boost your inner beauty. 
          Fashions and styles come and go. We intend to be here through them all, giving you the warm, personal attention you deserve. Make an appointment today at 
          our beauty parlour in Islamabad or Rawalpindi and  see what we can do for you.</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="about-us">
  <div class="container">
    <div class="col-md-6 col-sm-6 about-us-image">
      <img src="/assets/images/beauty-parlour2.jpg" alt="beauty-parlour">
    </div>
    <div class="col-md-6 col-sm-6 about-us-info">
      <div class="about-us-info-text">
        <h2>Flagship Salon of Loreal Professional in Pakistan</h2>
        <p>The L’Oréal Group is a French Cosmetics and Beauty Company, headquartered in Clichy, Hauts-de-Seine. It is the world’s largest cosmetics company, 
        and has a registered office IN PARIS. It has developed activities in the field of cosmetics, concentrating on hair color, skin care, sun protection, 
        make-up, perfumes and hair care. The company is active in dermatology, toxicology, tissue engineering, and bio pharmaceutical research fields and 
        is the top nanotechnology patent-holder in the United States. BeautySoul is the one and only “Flagship Salon of Loreal Professional in Pakistan”.
        So why take a risk for your beauty to be played in unprofessional and  born baby hands. Choose the professional most in Pakistan.</p>
      
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="about-us">
  <div class="container">
    <div class="col-md-6 col-sm-6 about-us-image">
      <img src="/assets/images/beauty-parlour3.jpg" alt="Excel Industries">
    </div>
    <div class="col-md-6 col-sm-6 about-us-info">
      <div class="about-us-info-text">
        <h2>Our Parlour Maintain International Standards</h2>
        <p>Beautysoul's staff members are provided professional training to ensure best parlour services. To maintain international standards, 
          we send some of our staff members abroad for training purposes 2-3 times in a year. They learn from world make up artists and apply 
          the obtained knowledge on you. We provide you with best standard hair care, nail care and skin care essential services.</p>
        <p>We know what is up and running in local as well as international fashion market. So, don’t miss this experience to be beautified by world class beauty artists in Pakistan.
        Schedule your appointment today at our beauty parlour in Islamabad and Rawalpindi. </p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
